
<section class="redesContacto">
  <div class="parallaxContacto">
  <div class="container">
    <div class="row">
      <div class="col-sm text-center textoCentral">
        <br>
        <h1>¿Quieres ponerte en contacto con nosotros?</h1>
        <br>
        <h2>Síguenos en nuestras redes sociales y entérate de los próximos eventos y meetups</h2>
        <br><br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm">
        <a href="https://www.facebook.com/GDGCancun" target="_blank">
        <img src="../assets/pictures/facebook.jpg" alt="...">
        </a>
      </div>
      <div class="col-sm">
        <a href="https://twitter.com/GDGcancun" target="_blank">
        <img src="../assets/pictures/twitter.jpg" alt="...">
      </a>
      </div>
      <div class="col-sm">
        <a href="https://www.meetup.com/es-ES/GDGCancun/" target="_blank">
        <img src="../assets/pictures/meetup.jpg" alt="...">
      </a>
      </div>
    </div>
  </div>
</div>
</section>

<section class="locacionReuniones">
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <br>
        <h1>¿Dondé nos reunimos?</h1>
        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDWUA7gXrw-_gYXKTGgOaLTfB2OGyvcYOg
        &q=Calle+16,+Lombardo+Toledano,+77526+Cancún,+Q.R." allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</section>
