/* img {
    max-width: 100%;
    max-height: 100%;
} */

.panelFotos {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 20px;
}

.panelFotos img {
  width: 80%;
  height: 400px;
}

.destacado {
  margin-top: 20px;
}

.speakers {
  margin-top: 20px;
}

.destacado .card .btn {
  width: 300px;
}
