
.panelFotos {
  width: auto;
  height: 800px;
  margin: auto;
}

.panelFotos img {
  width: auto;
  height: 800px;
}

.destacado .card{
  background-color: #0097EF;
}

.destacado h1{
  color: white;
}

.destacado h4{
  color: white;
}

.speakers {
  background-color: #ffffff;
}

.speakers .card{
  background-color: #ffffff;
}

.speakers img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.sponsors img {
  width: 200px;
  height: 200px;
}

.destacado .card .btn {
  width: 300px;
}

.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sobreNosotros {
  margin-top: 50px;
  margin-bottom: 50px;
}

.somosRed {
  background-color: #E9ECEF;
}

.separadorVertical {
  margin-left: 80px;
  margin-right: 80px;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sponsors {
  background-color: #E9ECEF;
}

.parallaxRedesSociales{
    /* The image used */
    background-image: url('../../../assets/pictures/gdgFoto8.jpg');

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nuestrasRedesSociales .btnSociales {
  height: 50px;
}

.textoCentral {
  color:white;
}
