
.panelFotos {
  width: auto;
  height: 500px;
  margin: auto;
}

.panelFotos img {
  width: auto;
  height: 500px;
}

.destacado .card{
  background-color: #0097EF;
}

.destacado h1{
  color: white;
}

.destacado h4{
  color: white;
}

.speakers {
  background-color: #F3F5F7;
}

.speakers .card{
  background-color: #F3F5F7;
}

.speakers img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.sponsors img {
  width: 200px;
  height: 200px;
}

.destacado .card .btn {
  width: 300px;
}
