<section class="piePagina">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <h1>Información</h1>
        Tecnologías, Novedades, Talleres, Conferencias, Charlas y apoyo a los developers de la localidad de Cancún.
      </div>
      <div class="col-sm">
        <h1>Redes Sociales</h1>
        <a href="https://www.facebook.com/GDGCancun" target="_blank">Facebook</a>
        <br>
        <a href="https://twitter.com/GDGcancun" target="_blank">Twitter</a>
        <br>
        <a href="https://www.meetup.com/es-ES/GDGCancun/" target="_blank">Meetup</a>

      </div>
      <div class="col-sm">
        <h1>Página de Facebook</h1>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGDGCancun%2F&tabs=timeline&width=340&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="container text-center">
        <h6>GDG Cancún 2018. Diseño hecho por la comunidad</h6>
      </div>
    </div>
  </div>
</section>
